@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-rows: (min-content, 1fr);
}

.gradient {
  background: radial-gradient(circle at 88% 25%, #ea5a0c69 0%, #15151500 23%),
    radial-gradient(circle at 48% 85%, #ea5a0c69 0%, #15151500 17%),
    radial-gradient(circle at 15% 43%, #ea5a0c69 0%, #15151500 20%);
}

.front,
.back {
  backface-visibility: hidden;
}
.front {
  transform: rotateY(180deg);
}

.card {
  transform-style: preserve-3d;
}
.flipped {
  transform: rotateY(180deg);
}
